@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: initial;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.fab, .fas {
    font-size: 1.5rem;
}

i {
    color: #B0A8B9;
    font-size: 20px;
}

.navbar-brand {
    align-items: center;
    margin-left: 15px;
}

.logo {
    color: #4B4453;
}

.navbar-burger, .navbar-burger span {
    color: #4B4453;
}

.navbar-item {
    font-size: .8rem;
}

.social-nav {
    display: none;
}

.hero {
    overflow: hidden;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    width: 100%;
    color: #4b4453;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5em;
}

.purple-span {
    color: #6100FF;
}

.hero-btn {
    border: none;
    background-color: #6100FF;
    width: 140px;
    height: 30px; 
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
}

.hero-btn-text {
    color: #fff;
    font-size: .95rem;
}

.bezier {
    width: 100%;
    display: block;
    margin-bottom: -.5px;
}

.skills-container {
    background-color: #3F3D56;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.custom-shape-divider-top-1634358060 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1634358060 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1634358060 .shape-fill {
    fill: #FFFFFF;
}



.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.web-dev {
    margin-top: 100px;
}

.res-des {
margin: 40px 0;
}

.customer-service {
    margin-bottom: 40px;
}

.skills-img {
    width: 100px;
    height: 100px;
}

.skills-title {
    color: #3F3D56;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 15px 0;
    color: #fff;
}

.skills-description {
    color: #3F3D56;
    font-weight: 200;
    text-align: center;
    margin: 0 12px;
    color: #fff;
}

.skills-icon-container {
    background-color: #3F3D56;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-group {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px 25px 7px;
}

.skill-icon label {
    color: #B0A8B9;
}

.skill-icon i {
    font-size: 2.7rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 12px;
    width: 90%;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-number {
    color: #6100FF;
    font-weight: 300;
    margin: 0;
}

.project-name {
    color: #B0A8B9;
    font-weight: 500;
    font-size: 1.9rem;
}

.project-description {
    text-align: center;
    color: #3F3D56;
    font-weight: 300;
}

.technologies-used {
    color: #B0A8B9;
    font-weight: 500;
    margin: 8px 0 0 0;
}

.technologies {
    color: #3F3D56;
    font-weight: 300;
    text-align: center;
    margin-bottom: 8px;
}

.project-thumb-container {
    width: 100%;
}

.project-thumb {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.img-container {
    width: 100%;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.project-links-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.project-links {
    color: #6100FF;
    font-size: .85rem;
    margin: 0 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    padding-top: 0;
    padding-bottom: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.lets-connect {
    color: #6100FF;
    margin: 30px 0 15px 0;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    color: #3F3D56;
    width: 100%;
    letter-spacing: 1px;
}

input {
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 15px;
}

textarea {
    border: none;
    border-radius: 5px;
    height: 100px;
}

.form-btn {
    border: none;
    background-color: #6100FF;
    color: #fff;
    width: 175px;
    height: 40px; 
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
}

.form-btn i {
    color: #fff;
    margin-right: 5px;
}

.resume {
    color: #3F3D56;
    font-size: 1.2rem;
}

.resume:hover {
    cursor: pointer;
    color: #7d7aa8;
}

.footer-social-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-social-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.footer-social-list li i{
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 2rem;
}

.footer-social-link {
    color: #3F3D56;
}

.resume-and-social {
    margin-top: 25px;
}

@media screen and (min-width: 360px) {
    h1 {
        font-size: 1.6rem;
        transition: .3s;
    }
}

@media screen and (min-width: 375px) {
    h1 {
        font-size: 1.7rem;
        transition: .3s;
    }

    .hero-btn {
        width: 150px;
        height: 35px;
        transition: .3s;
    }
    
    .hero-btn-text {
        color: #fff;
        font-size: 1rem;
        transition: .3s;
    }
}

@media screen and (min-width: 411px) {
    h1 {
        font-size: 1.9rem;
        transition: .3s;
    }

    .hero-btn {
        width: 155px;
        height: 35px;
        transition: .3s;
    }
    
    .hero-btn-text {
        color: #fff;
        font-size: 1rem;
        transition: .3s;
    }
}