@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: initial;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.fab, .fas {
    font-size: 1.5rem;
}

i {
    color: #B0A8B9;
    font-size: 20px;
}

.navbar-brand {
    align-items: center;
    margin-left: 15px;
}

.logo {
    color: #4B4453;
}

.navbar-burger, .navbar-burger span {
    color: #4B4453;
}

.navbar-item {
    font-size: .8rem;
}

.social-nav {
    display: none;
}

.hero {
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    width: 100%;
    color: #4b4453;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5em;
}

.purple-span {
    color: #6100FF;
}

.hero-btn {
    border: none;
    background-color: #6100FF;
    width: 140px;
    height: 30px; 
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
}

.hero-btn-text {
    color: #fff;
    font-size: .95rem;
}

.bezier {
    width: 100%;
    margin-top: -50px;
    margin-bottom: -8px;
}

.skills-container {
    background-color: #3F3D56;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* SLANTED SKILL CONTAINER DIV */
/* .custom-shape-divider-top-1634358060 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1634358060 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1634358060 .shape-fill {
    fill: #FFFFFF;
} */



.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.res-des {
margin: 40px 0;
}

.customer-service {
    margin-bottom: 40px;
}

.skills-img {
    width: 80px;
    height: 80px;
}

.skills-title {
    color: #3F3D56;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 10px 0;
    color: #fff;
}

.skills-description {
    color: #3F3D56;
    font-weight: 200;
    font-size: .9rem;
    text-align: center;
    margin: 0 12px;
    color: #fff;
}

.skills-icon-container {
    background-color: #3F3D56;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-group {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 25px 10px;
}

.skill-icon label {
    font-size: 1rem;
    color: #B0A8B9;
}

.skill-icon i {
    font-size: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 12px;
    width: 90%;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-number {
    color: #6100FF;
    font-weight: 300;
    margin: 0;
}

.project-name {
    color: #B0A8B9;
    font-weight: 500;
    font-size: 1.9rem;
}

.project-description {
    text-align: center;
    color: #3F3D56;
    font-weight: 300;
}

.technologies-used {
    color: #B0A8B9;
    font-weight: 500;
    margin: 8px 0 0 0;
}

.technologies {
    color: #3F3D56;
    font-weight: 300;
    text-align: center;
    margin-bottom: 8px;
}

.project-thumb-container {
    width: 100%;
}

.project-thumb {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.img-container {
    width: 100%;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.project-links-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.project-links {
    color: #6100FF;
    font-size: .85rem;
    margin: 0 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    padding-top: 0;
    padding-bottom: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.lets-connect {
    color: #6100FF;
    margin: 30px 0 15px 0;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    color: #3F3D56;
    width: 100%;
    letter-spacing: 1px;
}

input {
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 15px;
}

textarea {
    border: none;
    border-radius: 5px;
    height: 100px;
}

.form-btn {
    border: none;
    background-color: #6100FF;
    color: #fff;
    width: 175px;
    height: 40px; 
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
}

.form-btn i {
    color: #fff;
    margin-right: 5px;
}

.resume {
    color: #3F3D56;
    font-size: 1.2rem;
}

.resume:hover {
    cursor: pointer;
    color: #7d7aa8;
}

.footer-social-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-social-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.footer-social-list li i{
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 2rem;
}

.footer-social-link {
    color: #3F3D56;
}

.resume-and-social {
    margin-top: 25px;
}

@media screen and (min-width: 360px) {
    h1 {
        font-size: 1.6rem;
        transition: .3s;
    }
}

@media screen and (min-width: 375px) {
    h1 {
        font-size: 1.8rem;
        transition: .3s;
    }

    .hero-btn {
        width: 160px;
        height: 38px;
        transition: .3s;
    }
    
    .hero-btn-text {
        color: #fff;
        font-size: 1.1rem;
        transition: .3s;
    }
}

@media screen and (min-width: 411px) {
    h1 {
        font-size: 1.9rem;
        transition: .3s;
        max-width: 582px;
    }

    .hero-btn {
        width: 155px;
        height: 35px;
        transition: .3s;
    }
    
    .hero-btn-text {
        font-size: 1rem;
        transition: .3s;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        overflow: hidden;
        height: 400px;
        align-items: flex-start;
        justify-content: center;
    }

    h1 {
        text-align: left;
        font-size: 2.8rem;
        transition: .3s;
        margin-left: 60px;
        padding-right: 100px;
        max-width: 769px;
    }

    .hero-btn {
        margin-left: 60px;
        width: 200px;
        height: 40px;
    }
    
    .hero-btn-text {
        font-size: 1.2rem;
    }

    .bezier {
        margin-top: -100px;
    }

    .skills-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .skills-section {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 1200px;
    }

    .res-des {
        margin: 0;
    }

    .customer-service {
        margin: 0;
    }

    .skill-group-1 {
        margin-top: 50px;
    }

    .project-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1200px;
    }

    .project-content {
        align-items: flex-start;
        width: 50%;
        max-width: 400px;
    }

    .project-description {
        text-align: left;
    }

    .technologies {
        text-align: left;
    }

    .project-thumb-container {
        width: 300px;
    }

    .footer {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact-form {
        margin-top: -50px;
        margin-bottom: 50px;
        width: 50%;
        max-width: 500px;
    }

    .resume-and-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        max-width: 500px;
    }

    .resume {
        font-size: 1.5rem;
    }

    .footer-social-list {
        justify-content: center;
        margin-top: 20px;
    }
    
    .footer-social-list li i{
        font-size: 2.3rem;
        margin: 0 15px;
    }
}

@media screen and (min-width: 1024px) {

    .hero {
        width: 100%;
        height: 450px;
        justify-content: center;
    }

    h1 {
        text-align: left;
        font-size: 3.2rem;
        transition: .3s;
        margin-left: 150px;
        padding-right: 275px;
        max-width: 1041px;
    }

    .hero-btn {
        margin-left: 150px;
        width: 200px;
        height: 45px;
    }
    
    .hero-btn-text {
        font-size: 1.3rem;
    }

    .footer {
        justify-content: center;
    }
}

@media screen and (min-width: 1366px) and (orientation: landscape) {
    .hero {
        width: 100%;
        height: 600px;
        justify-content: center;
    }

    h1 {
        text-align: left;
        font-size: 4rem;
        transition: .3s;
        margin-left: 250px;
        padding-right: 450px;
    }

    .hero-btn {
        margin-left: 250px;
        width: 250px;
        height: 60px;
    }

    .hero-btn-text {
        font-size: 1.5rem;
    }

    .skills-img {
        width: 100px;
        height: 100px;
    }
    
    .skills-title {
        font-size: 1.3rem;
    }
    
    .skills-description {
        font-size: 1rem;
    }
}