@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;  
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.offcanvas-backdrop.show {
    opacity: .8;
}

.offcanvas.show {
    border-radius: 8px;
}

.social-nav {
    display: none;
}

i {
    color: #3F3D56;
    font-size: 20px;
}

.container-fluid {
    padding: 0;
}

nav {
    background-color: #5F7174;
    height: 60px;
}

.navbar-light .navbar-brand {
    margin-left: 25px;
    padding: 0;
    color: #A5E653;
    font-size: 1.1rem;
}

.navbar-light .navbar-toggler {
    border: none;
    padding: 0;
    margin-right: 25px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6A888C;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vector {
    margin: 20px 0 5px 0;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    line-height: 1.6em;
    margin: 0 50px;
}

.see-work-btn {
    border: none;
    border-radius: 8px;
    background-color: #3F3D56;
    color: #A5E653;
    width: 180px;
    height: 50px; 
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0 40px 0;
}

.down-arrow {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 230, 81,.10);
    width: 90%;
    height: 450px;
    border-radius: 20px;
}

.web-dev {
    margin-top: 40px;
}

.res-des {
margin: 20px 0;
}

.customer-service {
    margin-bottom: 40px;
}

.skills-img {
    width: 110px;
    height: 110px;
}

.skills-title {
    color: #3F3D56;
    font-weight: 600;
    margin: 15px 0;
}

.skills-description {
    color: #3F3D56;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 12px;
}

.skills-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-group {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px 25px 7px;

}

label {
    color: #7d7aa8;
}

.skill-icon i {
    font-size: 3rem;
}

.projects-container {
    background-color: #6A888C;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 12px;
}

.project-number {
    color: #A5E653;
    font-weight: 300;
    margin: 0;
}

.project-name {
    color: #fff;
    font-weight: 500;
    font-size: 1.9rem;
}

.project-description {
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.technologies-used {
    color: #fff;
    font-weight: 500;
    margin-top: 8px;
}

.technologies {
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.project-thumb {
    width: 90%;
    height: 175px;
    border-radius: 10px;
}